.card-history {
    padding: 0 16px;
}
.line-info {
    span {
        position: relative;
        top: -2px;
        left: 6px;
    }
}
#icon-name, #icon-bible {
    font-size: 16px;
}
.edit-icon {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}