.line-info {
    span {
        position: relative;
        top: -2px;
        left: 6px;
    }
}
.icon-title{
    font-size: 17px;
}
.edit-icon {
    font-size: 30px;
    position: absolute;
    right: -9px;
    top: 6px;
}
.card-history {
    ion-card-content {
        padding-left: 0 !important;
    }
}