/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    --background: #f7f7f7;
}
ion-header {
    position: relative;
    z-index: 9999;
}
ion-toolbar {
    --background: #FFF /*#315182*/;
    --color: #000 /*#FFF*/;
}
.home-header {
    width: 100%;
    position: absolute;
    display: block;
    overflow: hidden;
    top: 0;
    background: rgb(74,110,167);
    background: linear-gradient(180deg, rgba(74,110,167,1) 0%, rgba(106,145,207,1) 100%);
    z-index: 1;
    padding-bottom: 9vh;

    .title {
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 14vh;
    }
}
.container {
    width: 90%;
    margin: 16vh 5% 0 5%;
    position: relative;
    z-index: 10;
    padding-bottom: 65px;
}
ion-card-title{
    .icon-title {
        font-size: 25px;
        margin-right: 10px;
    }
    span {
        position: relative;
        top: -5px;
    }
}
.icon-header {
    font-size: 1.3em !important;
}
.card-history {
    padding: 0 16px;
}

/* android only */
.md {
    .toolbar-title {
        text-align: center;

        .subtitle {
            text-align: center;
        }
    }
    .home-header {
        background: rgb(74,110,167) !important;
    }
}
/* ============ */