<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Testemunho Telefone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon class="icon-footer" name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="home-header">
    <h1 class="title">Telefones</h1>
  </div>
  <div class="container">
    <ion-card (click)="openDetails()" *ngFor="let item of arrPhones">
      <ion-card-header>
        <ion-card-title>
          <ion-icon color="primary" class="icon-title" src="assets/tools-and-utensils.svg"></ion-icon>
          <span>98132-4148</span>
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Último contato: 17/05/2020
        <ion-icon color="primary" class="arrow-right" src="assets/seta-direita.svg"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
